.Category {
  font-family: arial;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin: 60px 150px;
}

.Category .product-item {
  grid-template-columns: auto;
}
.Category .product-item .color,
.Category .product-item .description {
  display: none;
}

.Category .product-item .brand {
  margin: 20px 0 10px;
  font-size: 16px;
}

.Category .product-item .name {
  color: #444444;
  text-transform: uppercase;
  font-family: arial;
  font-size: 16px;
  font-weight: 100;
}
.Category .product-item .price {
  font-size: 14px;
}

.Category .product-item button.add,
.Category .product-item button.view {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -75px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0 none;
  width: 150px;
  height: 36px;
  opacity: 0.8;
  display: none;
  cursor: pointer;
}
.Category .product-item button.add {
  top: 135px;
  background-color: #333333;
}
.Category .product-item:hover .add,
.Category .product-item:hover .view {
  display: block;
}


@media (max-width: 960px) {
  .Category {
    grid-template-columns: 45% 45%;
    grid-column-gap: 38px;
  }
}


@media (max-width: 820px) {
  .Category {
    grid-template-columns: 100%;
    grid-column-gap: 28px;
  }
}
