div.cart-menu
  position fixed
  right 10px
  width 370px
  padding 0 15px
  overflow hidden
  background-color $white
  text-align left
  border-color $gray
  border-style solid
  border-width 0 1px 1px
  max-height 0
  -webkit-box-shadow 0px 10px 10px 0px rgba(0,0,0,0.08)
  -moz-box-shadow 0px 10px 10px 0px rgba(0,0,0,0.08)
  box-shadow 0px 10px 10px 0px rgba(0,0,0,0.08)
  -webkit-transitionmax-height 500ms ease
  -moz-transitionmax-height 500ms ease
  -o-transitionmax-height 500ms ease
  transitionmax-height 500ms ease

  &.open
    max-height 100%

  a
    padding 0 !important

div.empty-menu-list
  display none

.cart-empty div.empty-menu-list
  display block
  height 420px
  background-image url(/media/empty-cart.png)
  background-repeat no-repeat
  background-position center 50px
  text-align center

  div.empty
    padding 200px 0 10px
    text-align center
    color $gray-dark

  button.secondary
    margin-top 10px
    width 220px
    border 1px solid $gray-darker
    height 55px
    font-size 16px

div.cart-menu .menu-list
    height 300px
    overflow auto

div.cart-menu.cart-empty
  .menu-list,
  .cart-menu-total,
  .cart-menu-buttons
    display none

div.cart-menu .product-item
  grid-template-columns 90px auto 30px
  padding 15px 0
  position relative

  > div
    text-align left
    padding 0 10px
    display grid

  h1
    font-family arial, sans-serif
    font-size 14px
    text-transform uppercase
    padding 0

  .name
    grid-row 1
    margin 0
    text-align left
    line-height 20px

    .count
      display inline-block

  .brand
    grid-row 2
    font-family arial, sans-serif
    color $gray-dark
    font-size 10px
    padding 0 0 5px

  .price
    font-family arial, sans-serif
    color $gray-darker
    font-size 12px
    font-weight 600

  .color,
  .description
    display none

  .remove-item
    grid-column 3
    grid-row 1
    border 0 none
    color $gray-dark
    font-size 16px
    padding 0
    margin 0
    outline none
    cursor pointer
    position absolute
    top -3px
    right 15px

.cart-menu
  .cart-menu-total
    margin 0 0 20px
    border-top 1px solid $gray
    padding-top 18px
    color $gray

    .cart-menu-total-amount
      position absolute
      right 15px

  .cart-menu-buttons
    display grid
    grid-template-columns 47% 47%
    grid-column-gap 6%

  .cart-menu-buttons a
    line-height initial

  button.view-cart,
  button.checkout
    border 0 none
    width 100%
    height 55px
    cursor pointer
    font-weight 600

  button.view-cart
    margin 0 15px 15px 0
    border 1px solid $gray-darker
    color $gray-darker

  button.checkout
    background-color $gray-darker
    color $white

.Cart
  background-color #F6F6F6
  min-height 100vh
  padding-bottom 100px

  h1
    text-align center
    padding 85px 0
    font-family Bodoni, serif
    font-size 52px
    margin 0
    font-weight 100

    span.count
      display none

.Cart .cart-list
    max-width 820px
    background-color $white
    margin auto
    padding 60px

.Cart .cart-list-head
  > div
    color $gray-dark
    font-family Arial
    font-size 12px
    padding-bottom 30px

.Cart .cart-list-head,
.Cart .cart-list-item
  display grid
  grid-template-columns 65% 15% 10% 10%
  border-bottom 1px solid $gray-light

  > divnth-child(4n)
    text-align right


.Cart .list-item-total
  color $gray-dark

.Cart .cart-list-item
  padding 30px 0 70px

  .remove-item
    border 0 none
    font-size 34px
    font-weight 100
    line-height 10px
    color $gray-dark
    outline none
    cursor pointer

  .product-item
    > div
      text-align left
      padding 0 20px

    h1
      font-family Arial, sans-serif
      font-size 14px
      text-align left
      margin 0
      padding 0 0 10px
      text-transform uppercase
      line-height 30px

    .price,
    .description
      display none

.Cart .add-to-cart .add
  display none

.Cart .cart-subtotals
  font-family arial
  display grid
  grid-template-columns 50% 50%
  padding 20px 0 20px 60%
  font-size 12px
  grid-row-gap 15px
  color $gray-dark
  border-bottom 1px solid $gray-light

  > divnth-child(2n)
    text-align right

  .total
    color $gray-darker

.Cart .cart-checkout
  display grid
  grid-template-columns 200px auto 200px
  margin-top 30px

  button.continue-shopping,
  button.checkout
    border 0 none
    width 100%
    height 55px
    cursor pointer
    font-weight 600

  button.continue-shopping
    margin 0 15px 15px 0
    border-color $gray-darker
    color $gray-darker
    width auto
    padding 0
    border-width 0 0 1px 0
    border-style solid
    height 25px

  button.checkout
    grid-column 3
    background-color $gray-darker
    color $white

.add-to-cart
  display grid
  grid-template-columns 47px 40px 160px
  text-align center
  margin auto
  width 230px
  margin 0 auto auto

  input
    grid-column 1
    grid-row 1 / span 2
    width 45px
    font-size 16px
    background-color $gray-light
    border 0 none
    color $gray-dark
    text-align center

  > div button
    width 24px
    height 24px
    font-size 26px
    background-color $gray
    font-size 14px
    line-height 20px
    color $gray-darker
    cursor pointer

  > div:first-of-type
    margin 0 5px 2px 2px
    text-align left
    grid-column 2
    grid-row 1

  > div:last-of-type
    margin 0 5px 0 2px
    text-align left
    grid-column 2
    grid-row 2

  button
    border 0 none

  > button
    grid-column 3
    grid-row 1 / span 2
    background-color $gray-darkest
    color $white
    width 145px
    height 50px
    cursor pointer
