//Colours
$black                         = #000000
$white                         = #FFFFFF
$gray-light                    = #EFEFEF
$gray                          = #CCCCCC
$gray-medium                   = #999999
$gray-dark                     = #777777
$gray-darker                   = #323232
$gray-darkest                  = #1F2124


$brand-primary                 = $black
$brand-secondary               = $white
$brand-tertiary                = $gray-darkest
$brand-wildcard                = #F67DB3
$brand-background              = #EFEFEF
$brand-action                  = #2D9EDF
$brand-success                 = #90BE51
$brand-danger                  = #F6664B
$brand-warning                 = #F0E14B


//Spacing
$spacing-xs                    = 0.15rem
$spacing-small                 = 0.25rem
$spacing-base                  = 0.5rem
$spacing-large                 = 1rem
$spacing-xl                    = 2rem


//Typography
$font-size                     = 16px
$font-size-base                = 1rem
$font-size-large               = 1.25rem
$font-size-small               = 0.875rem
$font-face-sans                = "Netto Regular", Arial, Helvetica, sans-serif
$font-face-serif               = Georgia, serif
$font-face-mono                = "Courier New", Courier, monospace
$font-weight-base              = normal
$font-weight-bold              = bold
$line-height                   = 1.5


//Responsive breakpoints
$breakpoint-xs                 = 0
$breakpoint-sm                 = 34em
$breakpoint-md                 = 48em
$breakpoint-lg                 = 62em
$breakpoint-xl                 = 75em

$max-container-width           = 70rem
